// Lightgallery

@use 'settings-landing' as *;
@use 'helper' as *;
@use 'tools' as *;

// button
.btn-lg {
    cursor: pointer;
}

// fondo
.lg-backdrop {
    z-index: 99999;
    background: rgba($color: #000000, $alpha: .85);
}

// wrap
.lg-outer {
    z-index: 99999;
}

// contenedor
.lg-outer .lg-content  {
    // position: relative;
    height: 100%;
}

.lg-sub-html {

    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3000;
    transform: translateY(-30%);

    width: 100%;

    background: transparent;
    text-align: center;
    padding: 0;
    text-align: center;

    h3 {

        font-size: rem(40);
        line-height: 1em;
        font-weight: setfont('weight', 'bold');
        color: setcolor('white');

        margin-bottom: 0;

        @include md {
            font-size: rem(70);
        }
        @include lg {
            font-size: rem(100);
        }

    }

}


// toolbar
// .lg-toolbar {
//     position              : absolute;
//     background            : transparent;
//     right                 : 0 !important;
//     left                  : initial !important;
//     top                   : 0 !important;
//     opacity               : 1 !important;
//     transform             : none !important;
//     text-align            : center;
// }

// CLOSE
.lg-toolbar  .lg-close  {

    &:after {
        content: '' !important;
    }

    position: fixed;
    left: initial !important;
    right: 50%;
    top: rem(10) !important;
    z-index: 3500;
    transform: translateX(50%) !important;

    background: transparent;

    opacity: 1 !important;
    text-align: center;

    width: rem(30) !important;
    height: rem(30) !important;

    background-image: url(../images/close.png) !important;
    background-size: cover !important;
    padding: 0 !important;

    transition: .2s ease-in-out;

    @media ( min-width: 768px  ) {
        width: rem(42) !important;
        height: rem(42) !important;
    }
}

// THUMB
.lg-outer .lg-thumb {
    padding                 : 0 !important;
    border-top              : 3px solid white;
}

.lg-outer .lg-thumb-item {
    border                  : 0 !important;
    border-radius           : 0 !important;
    margin                  : 0 !important;
    width                   : 140px !important;
}

.lg-outer .lg-toogle-thumb {
    display                 : none;
}

.lg-img-wrap {
    padding               : 0 !important;
}


// .lg-outer .lg-image {
//     height                : 100% !important;
//     width                 : auto !important;
// }


// arrows
.lg-icon {

    padding: 0 !important;
    opacity: 1 !important;
    position: absolute;
    background: transparent !important;
    top: 50%;
    transform: translateY(-50%);
    width: rem(15);
    height: rem(41);
    overflow: hidden;
    text-indent: -999px;

    @include md {
        width: rem(25);
        height: rem(66);
    }

    &.lg-prev  {
        left                  : 30px;
        background-image      : url(../images/arrow-left.png) !important;
        background-size       : cover !important;
    }
    &.lg-next {
        right                 : 30px;
        background-image      : url(../images/arrow-right.png) !important;
        background-size       : cover !important;
    }
}