// --------------------------------------------------
//		Libraries: SPLIDE
// --------------------------------------------------


// pagination
.splide__pagination  {

    position: relative;
    margin-top: 4.5rem;

    @include media-breakpoint-up(md) {
        margin-top: 5.5rem;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 10rem;
    }

    .splide__pagination__page {

        width: 2.3rem;
        height: 0.2rem;
        background-color: $color-gray-light;
        border-radius: 0;

        &.is-active {
            transform: scale(1);
            background: $color-primary;
        }
    }

}

// arrow
.splide__arrow  {

    opacity: 1;

    width: 1.7rem;
    height: 4.3rem;
    background-image: url(../images/arrow-right.png);
    background-color: transparent;
    background-size: cover;

    &--prev {
        background-image: url(../images/arrow-left.png);
    }

    // svg
    svg {
        display: none;
    }

}


.splide_arrow_small {

    .splide__arrows  {

        position: relative;
        display: flex;
        justify-content: flex-end;
        @extend .module-horizontal-small;
        margin: 0;
        @include media-breakpoint-up(md) {
            margin: 4rem 0;
            justify-content: flex-end;
        }

    }

    .splide__arrow {

        position: relative;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;

        transform: none;

        width : 3rem !important;
        height: 3rem !important;

        margin: 0 5px;

        @include media-breakpoint-up(md) {
            width : 3.8rem !important;
            height: 3.8rem !important;
        }

        svg {
            display: none;
        }

        &.splide__arrow--prev {
            background-image: url(../images/carousel-arrow-left.png);
        }

        &.splide__arrow--next {
            background-image: url(../images/carousel-arrow-right.png);
        }

    }

}