// --------------------------------------------------
//		Modules: Gallery
// --------------------------------------------------

@use 'settings' as *;
@use 'helper' as *;
@use 'tools' as *;

.video {
	position: relative;

	display: flex;
	justify-content: center;

	@extend %module-horizontal-medium;
	@extend %module-vertical-medium;

	max-height: 70vh;
	background-color: color('black');

	&::before {
	}

	a {
		position: relative;
		z-index: 100;
		width: 100%;

		display: flex;
		justify-content: center;

		img:first-of-type {
			position: relative;
			z-index: 1;
			height: 100%;
			object-fit: contain;

			filter: opacity(0.4);
		}

		img:last-of-type {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;

			width: 80px;
		}
	}
}
