// --------------------------------------------------
//		Components: Accordion
// --------------------------------------------------


@use 'tools' as *;


.accordion {

    background-color: transparent;
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: all 0.4s;

    border-bottom: 1px solid #E6E7E8;
    @extend .fs-5;

    &:after {
        content: '\002B';
        float: right;
        margin-left: 5px;
        font-size: 3rem;
        border: 2px solid color('black');
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }

    &.active {
        border-color: transparent;
        background-color: #F8F8FC;
        color: color('secondary');
        &:after {
            content: "\2212";
            color: color('secondary');
            border-color: color('secondary');
        }
    }

}

.panel {

    padding: 0 3rem;

    // background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    background-color: #F8F8FC;


    &.active {
        padding: 3rem;
        max-height: 100rem;
    }

    // list
    ul {
        @extend %list-style;
    }

}