// --------------------------------------------------
//		Components: Columns
// --------------------------------------------------


@use 'tools' as *;
@use 'helper' as *;


.btn-animation {

    position: relative;

    font-size: 1.5rem;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    padding-left: 2rem;

    @include up(md) {
        font-size: 1.8rem;
    }

    // circle
    &:before {
        content: '';
        display: block;
        width: 6rem;
        height: 6rem;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 2rem;
        transform: translateY( -50% );
        margin-left: -2rem;
        background: color('primary');
        border-radius: 3rem;
        transition: all .3s;
    }

    // arrow
    &:after {
        content: '';
        display: block;
        width: 2.9rem;
        height: 1.7rem;
        background-image: url(../../src/assets/icons/icon-arrow-btn.svg);
        background-size: cover;
        margin-left: 1rem;
    }

    &:hover {
        &:before {
            width: calc(100% + 2rem);
        }
        &:after {
            animation-name: btnAnimationArrow;
            animation-duration: .3s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
        }
    }

}

@keyframes btnAnimationArrow {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
