// --------------------------------------------------
//		Components: Columns
// --------------------------------------------------


@use 'tools' as *;
@use 'helper' as *;


.columns {

    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    @include up(lg) {
        flex-direction: row;
        align-items: center;
        column-gap: 10rem;
    }

    .col {

        @include up(lg) {
            width: 50%;
        }

    }

}