// --------------------------------------------------
//		Components: Images Stack
// --------------------------------------------------

@use 'tools' as *;
@use 'helper' as *;


.images-stack {

    position: relative;

    img {

        &:first-child {
            position: relative;
            width: 100%;
            height: auto;
        }

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;   

    }

}