// --------------------------------------------------
//		Components: Loading
// --------------------------------------------------


@use 'tools' as *;


.loading {

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3000;

    background-color: #f9f8fd;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 3rem rgba($color: #000000, $alpha: .01);

    transition: all .5s;

    img {
        max-width: 10rem;
    }

}

// loaded
.loaded .loading {
    transform: translateY(-100%);
}