// --------------------------------------------------
//		Components: Loading
// --------------------------------------------------

@use 'tools' as *;

.loader {
	position: fixed;
	width: 1440px;
	height: 100%;
	z-index: 3000;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: white;

	opacity: 1;

	&.hidden {
		opacity: 0;
		transition: opacity 0.6s ease;
	}

	img {
		width: 100px;
		&:last-child {
			transform: translateY(-10px);
			width: 70px;
		}
	}
}
