// --------------------------------------------------
//		Components: Soundwave
// --------------------------------------------------

@use 'tools' as *;
@use 'helper' as *;

.sound-wave {

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;

    display: flex;
    align-items: center;

}

.sound-wave-items {

    display: flex;
    flex: 1 1 auto;
    align-items: center;

    height: 12rem;

    @include up(md) {
        height: 25rem;
    }

    @include up(xl) {
        height: 40rem;
    }

    &:nth-child(4) {
        @include up(md) {
            height: 40rem;
        }
        @include up(xl) {
            height: 50rem;
        }
    }

    &:nth-child(2) {
        @include down(md) {
            height: 25rem;
        }
    }

    .mobile-wave {
        display: none;
        @include up(lg) {
            display: block;
        }
    }

}

.sound-wave-item {

  flex: 1 1 auto;
  // width: 10px;
  height: 30px;
  background: rgba($color: white, $alpha: 0.1);
  border-radius: 10rem;
  animation: equalize 3s 0s infinite;

  margin: 0 10px;

  @include up(md) {
    margin: 0 12px;
  }

  @include up(lg) {
    margin: 0 8px;
  }

  @include up(xl) {
    margin: 0 10px;
  }

  &:nth-child(1) {
    animation-delay: -1s;
  }

  &:nth-child(2) {
    animation-delay: -1.5s;
  }

  &:nth-child(3) {
    animation-delay: -2s;
  }

  &:nth-child(4) {
    animation-delay: -2.5s;
  }

  &:nth-child(5) {
    animation-delay: -3s;
  }

  &:nth-child(6) {
    animation-delay: -2.5s;
  }

  &:nth-child(7) {
    animation-delay: -2s;
  }

  &:nth-child(8) {
    animation-delay: -1.5s;
  }

  &:nth-child(9) {
    animation-delay: -1s;
  }

}

@keyframes equalize {
  0% {
    height: 30px;
  }

  70% {
    height: 100%;
  }

  100% {
    height: 30px;
  }
}
