// --------------------------------------------------
//		Settings: Breakpoints
// --------------------------------------------------

$breakpoints: (
	sm: 576,
	md: 768,
	lg: 992,
	xl: 1280,
	xxl: 1440,
);
