// --------------------------------------------------
//		Settings: Colors
// --------------------------------------------------


$colors: (

    "primary": (
        base: #131313,
        light: #414141,
    ),

    "gray": (
        base: #878787,
        light: #cccccc,
        dark: #414141
    ),

    "black": (
        base: #131313,
    ),

    "white": (
        base: #ffffff,
    ),
    
    "spain": (
        base: #3AD3B7,
    ),

    "bosnia": (
        base: #3532c8,
    ),

    "algerie": (
        base: #fdff7f,
    ),

    "france": (
        base: #18d17d,
    ),

    "tunisia": (
        base: #00a9d1,
    ),

);