// --------------------------------------------------
//		Settings: Colors
// --------------------------------------------------


$colors: (

    "primary": (
        base: #d1f94f,
    ),

    "secondary": (
        base: #0a2035,
        light: #254564,
        dark: #051321
    ),

    "gray": (
        base: #85909A,
        light: #a8b5c1,
        // dark: #A3A1A4
    ),

    "black": (
        base: #0a2035,
    ),

    "white": (
        base: #ffffff,
    ),
    
    "lavander": (
        base: #d2c4f5,
    ),

);