// --------------------------------------------------
//		Settings: Fontface
// --------------------------------------------------


@font-face {
    font-family: 'Celias';
    src: url('../assets/fonts/Celias-Light.woff2') format('woff2'),
        url('../assets/fonts/Celias-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Celias';
    src: url('../assets/fonts/Celias.woff2') format('woff2'),
        url('../assets/fonts/Celias.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Celias';
    src: url('../assets/fonts/Celias-Medium.woff2') format('woff2'),
        url('../assets/fonts/Celias-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Celias';
    src: url('../assets/fonts/Celias-Bold.woff2') format('woff2'),
        url('../assets/fonts/Celias-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}