// --------------------------------------------------
//		Settings: Fonts
// --------------------------------------------------

// Font base
$font-family-base: "Archivo", sans-serif;
$font-weight-base: 500;

$font-size-base: 1.4rem; //
$font-size-base-md: 1.6rem; //
$font-size-base-lg: 1.6rem; //

$line-height-base: 1.6em;
$line-height-base-md: $line-height-base; // Custom value
$line-height-base-lg: $line-height-base; // Custom value

// Headings
$headings-font-family: "Archivo", serif;
$headings-font-weight: normal;
$headings-line-height: 1;
$headings-margin-bottom: 0;

// headings font size [ si creas nuevos tamaños genera clases como esta: .fs-2 ]
$font-sizes: (
  1: (
    desktop: (
      max: 80,
      min: 60,
    ),
    mobile: (
      max: 40,
      min: 36,
    ),
  ),
  2: (
    desktop: (
      max: 50,
      min: 40,
    ),
    mobile: (
      max: 32,
      min: 28,
    ),
  ),
  3: (
    desktop: (
      max: 45,
      min: 35,
    ),
    mobile: (
      max: 40,
      min: 24,
    ),
  ),
  4: (
    desktop: (
      max: 22,
      min: 20,
    ),
    mobile: (
      max: 18,
      min: 16,
    ),
  ),
  5: (
    desktop: (
      max: 20,
      min: 18,
    ),
    mobile: (
      max: 16,
      min: 15,
    ),
  ),
  6: (
    desktop: (
      max: 13,
      min: 13,
    ),
    mobile: (
      max: 12,
      min: 12,
    ),
  )
);
