// --------------------------------------------------
//		Settings: Margin
// --------------------------------------------------


$custom-block-x-spaces : (
	none:   0,
	small:  (25 50 50 50 85 85),   // xs md lg xl xxl xxxl
	medium: (25 60 60 80 120 140),   // xs md lg xl xxl xxxl
	large:  (30 60 60 180 220 260),   // xs md lg xl xxl xxl
);

$custom-block-y-spaces : (
	none:   0,
	small:  (20 30 40 50 70 70),   // xs md lg xl xxl xxxl
	medium: (100 100 100 110 130 130), // xs md lg xl xxl xxxl
	large:  (140 140 200 200 300 300)  // xs md lg xl xxl xxxl
);

$max-width: 100rem;
$max-width-small: 72rem;

// spacer [basic space gap]
$spacer:    1rem;
