// --------------------------------------------------
//		Settings: Margin
// --------------------------------------------------

$clamp-x-spaces : (
	none:   0,
	small:  (15 50 20 30),   
	medium: (25 60 60 80),   
	large:  (30 60 60 180),   
);

$clamp-y-spaces : (
	none:   0,
	small:  (20 30 30 40),   
	medium: (30 40 50 80), 
	large:  (140 140 200 200)  
);

$max-width: 1440px;
$max-width-small: 72rem;

// spacer [basic space gap]
$spacer:    30px;
