// --------------------------------------------------
//		Cards: Card Value
// --------------------------------------------------


@use 'tools' as *;


.card-value {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 40rem;
    padding: 2rem;
    border-radius: 3rem;

    background: color('lavander');

    p {
        color: color("black");
    }

    img {
        max-width: 137px;
        object-fit: contain;
        align-self: flex-end;
    }

}