// --------------------------------------------------
//		Modules: Map
// --------------------------------------------------

@use 'settings' as *;
@use 'helper' as *;
@use 'tools' as *;

.project-map {
	position: relative;

	#mapID {
		position: relative;
		z-index: 0;

		width: 100%;
		height: 75vh;

		@media (min-width: 768px) {
			height: 50vh;
		}
		@media (min-width: 1024px) {
			height: 75vh;
		}

		.leaflet-marker-pane {
			img[alt='mainMarker'] {
				z-index: 2000 !important;
				transform-origin: center;
			}
		}
	}

	.map__layer {
		display: none;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;

		background-image: linear-gradient(
			to bottom,
			white 0%,
			transparent 10% 90%,
			white 100%
		);

		@include up(lg) {
			display: inline-block;
		}

		.card {
			display: none;

			position: relative;
			top: 40%;
			transform: translateY(-50%);
			left: 0;

			width: min(320px, 16.7vw);

			@include up(lg) {
				display: inline-block;
			}
		}
	}
}
