@use 'helper' as *;
@use 'settings' as *;
@use 'tools' as *;

.podcast .shk {
	--background-body: #cccccc;
	--color-title: black;
	--color-artist: black;
	--color-button: black;
	--color-button-disabled: black;
	--color-handle: black;
	--color-handle-disabled: var(--color-handle);
	--color-bar-loaded: #fdff7f;
	--color-bar-played: black;
	--color-time: black;
	--color-spinner: black;
}

.podcast .shk {
	@extend %module-horizontal-medium;
	@extend %module-bottom-small;

	@include down(lg) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	&-player {
		box-shadow: none;
		border-radius: 0 0 10px 10px;
	}
}

.pdfs {
	@extend %module-horizontal-medium;
	@extend %module-bottom-medium;

	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	@include down(lg) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	@include up(lg) {
		gap: 30px;
	}

	a p {
		@extend %h5;
		text-decoration: underline;
		font-weight: 700;
	}
}
