// --------------------------------------------------
//		Page: Speakers List
// --------------------------------------------------

@use 'settings' as *;
@use 'helper' as *;
@use 'tools' as *;

.speakers {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	@include up(lg) {
		row-gap: 30px;
	}

	.ac {
		border: none;
		&:not(:last-of-type) {
			border-bottom: 1px solid color('gray', 'light');
		}

		@include up(lg) {
			@include spacing('margin-left', 'medium');
			@include spacing('margin-right', 'medium');
		}

		&-trigger {
			padding: 0;
			margin: 0;

			&::after {
				width: 30px;
				font-size: 28px;
			}
		}

		&-header {
			padding: 0;
			margin: 0;

			.speaker-content {
				display: flex;
				align-items: center;
				gap: 20px;

				padding: 20px 40px 20px 0;

				@include up(lg) {
					padding: 20px 0;
				}

				img {
					display: none;
					filter: grayscale(1);
					width: 100px;
					height: 100px;
					border-radius: 3px;

					@include up(lg) {
						display: inline-block;
					}
				}

				p {
					&:first-of-type {
						@extend %h4;
						font-weight: 700;
						text-transform: uppercase;
					}
					&:last-of-type {
						@extend %h5;
						font-weight: 300;
					}
				}
			}
		}

		&-panel {
			.module-sidebar {
				@include spacing('margin-left', 'small');
				@include spacing('margin-top', 'small');
				@include spacing('margin-bottom', 'small');
				border-left: 1px solid color('gray', 'light');
				padding-left: 20px;
			}

			@include spacing('margin-bottom', 'small');
		}
	}
}
