// --------------------------------------------------
//		Components: Info
// --------------------------------------------------

@use "helper" as *;
@use "tools" as *;

.info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @extend %module-vertical-small;
  border-bottom: 1px solid color("gray", "light");

  @include up(md) {
    flex-direction: row;
  }

  section {
    width: 100%;

    @include up(md) {
      width: 33%;
    }

    p:first-of-type {
      padding-bottom: 10px;
      color: color("gray", "light");
    }
  }
}
