// --------------------------------------------------
//		Modules: Common: Title
// --------------------------------------------------


@use 'settings' as *;
@use 'tools' as *;
@use 'elements' as *;


.module-title {

    margin-bottom: 1rem;
    text-align: center;

    @include up(md) {
        margin-bottom: 1.5rem;
    }

    @include up(lg) {
        margin-bottom: 2rem;
        text-align: left
    }

    p, div {
        @extend %h2;
        font-weight: 500;
        line-height: 1.2;
        color: color('white');
        margin: 0;

        strong, strong div {
            color: color('primary');
        }
    }

}