// --------------------------------------------------
//		Modules: Common: Decoration
// --------------------------------------------------


.module-decoration {

    position: absolute;
    z-index: -1;

    &.left-top {
        top: 0;
        left: 0;
        transform: translateY(-30%);
    }

    &.right-top {
        top: 0;
        right: 0;
        transform: translateY(-30%);
    }

    &.left-bottom {
        bottom: 0;
        left: 0;
        transform: translateY(30%);
    }

    &.right-bottom {
        bottom: 0;
        right: 0;
        transform: translateY(30%);
    }


}
