// --------------------------------------------------
//		Modules: Common: Section
// --------------------------------------------------

@use "tools" as *;

.module-section {
  @extend .module-bottom-small;

  color: color("primary");
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;

  @include up(lg) {
    font-size: 2.2rem;
  }
}
