// --------------------------------------------------
//		Modules: Common: Section
// --------------------------------------------------

@use "tools" as *;

.module-surtitle {
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;

  @include up(md) {
    margin-bottom: 3.5rem;
  }

  @include up(lg) {
    margin-bottom: 5rem;
    justify-content: flex-start;
  }

  p {
    border: 1px solid white;
    border-radius: 58px;
    font-weight: 300;

    padding: 20px 65px;
    margin: 0;
  }
}
