// --------------------------------------------------
//		Modules: Gallery
// --------------------------------------------------

@use 'settings' as *;
@use 'helper' as *;
@use 'tools' as *;

.gallery-wrap {
	@extend %module-vertical-medium;

	height: 100%;
	background-color: color('black');
}

.gallery {
	.splide__slide {
		height: 100%;

		@include up(lg) {
			height: 50vh;
		}

		img {
			object-fit: contain;
			height: 100%;
		}
	}

	.splide__arrow {
		background: none !important;
		height: 48px;
		width: 48px;
	}

	.splide__arrow--prev {
		left: 2vw;
	}

	.splide__arrow--next {
		right: 2vw;
	}
}

.thumbs {
	@extend %module-top-small;

	img {
		height: 100%;
		object-fit: contain;
	}
}
