// --------------------------------------------------
//		Layout: Default
// --------------------------------------------------

@use "settings" as *;
@use "tools" as *;

.module-default {
  @extend %module-left-medium;
  @include spacing("margin", "medium");

  border-left: 1px solid color("gray", "light");

  display: flex;
  flex-direction: row;
  column-gap: 80px;

  section {
    width: 75%;

    p,
    h4,
    figure {
      @extend %module-bottom-small;
    }

    p {
      line-height: 1.5em;
    }

    h4,
    strong {
      font-weight: 500;
    }

    img {
      width: 100%;
      object-fit: cover;

      &::before {
        display: inline-block;

        content: "";
        background-image: url("../assets/icons/icon-rombo-green.svg");

        height: 16px;
        width: 16px;
        margin-bottom: 20px;
      }
    }

    em {
      @extend %h6;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding-top: 10px;
      color: color("gray");
      font-style: italic;
    }
  }

  aside.module-sidebar {
    height: fit-content;
    width: 25%;
    padding-left: 30px;
    border-left: 1px solid color("gray", "light");

    li {
      padding-bottom: 10px;
    }
  }

  .gallery-item {
    display: none;
    width: 100% !important;

    &:first-child {
      display: block;
    }

    img {
      border: 0 !important;
    }
  }
}

.module-credits {
  .item {
    &:not(:last-of-type) {
      @extend %module-bottom-small;
    }

    p {
      padding: 0;
    }
    
    p:first-of-type {
      color: color("gray", "light");
    }
  }
}

.project-education {
  .title__edu {
    @extend %h4;
    font-weight: 500;
    text-transform: uppercase;
  
    display: flex;
    align-items: center;
  
    &::before {
      display: inline-block;
      content: "";
      height: 16px;
      width: 16px;
      background-image: url("../assets/icons/icon-rombo.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  
      margin-right: 20px;
    }
  }
}
