// --------------------------------------------------
//		Layout: Default
// --------------------------------------------------

@use 'settings' as *;
@use 'tools' as *;

.module-default {
	@extend %module-left-medium;

	display: flex;
	flex-direction: column-reverse;
	row-gap: 40px;

	@include down(lg) {
		padding: 0 !important;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	@include down(md) {
		padding: 0 !important;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	@include up(lg) {
		@include spacing('margin', 'medium');

		border-left: 1px solid color('gray', 'light');

		display: flex;
		flex-direction: row;
		column-gap: 80px;
	}

	section {
		width: 100%;

		@include up(lg) {
			width: 75%;
		}

		p,
		h4,
		figure {
			@extend %module-bottom-small;
		}

		p {
			line-height: 1.5em;
		}

		a {
			color: #3ad3b7;

			&:hover {
				text-decoration: underline;
			}
		}

		h4,
		strong {
			font-weight: 500;
		}

		img {
			width: 100%;
			object-fit: cover;

			&::before {
				display: inline-block;

				content: '';
				background-image: url('../assets/icons/icon-rombo-green.svg');

				height: 16px;
				width: 16px;
				margin-bottom: 20px;
			}
		}
	}

	aside.module-sidebar {
		height: fit-content;
		width: 100%;
		padding-left: 30px;
		border-left: 1px solid color('gray', 'light');

		@include up(lg) {
			width: 25%;
		}

		li {
			padding-bottom: 10px;
		}
	}

	.gallery-item {
		display: none;
		width: 100% !important;

		&:first-child {
			display: block;
		}

		img {
			border: 0 !important;
		}
	}
}

.module-credits {
	.item {
		&:not(:last-of-type) {
			@extend %module-bottom-small;
		}

		p {
			padding: 0;
		}

		p:first-of-type {
			color: color('gray', 'light');
		}
	}
}
