// --------------------------------------------------
//		Layout: Footer
// --------------------------------------------------

@use 'settings' as *;
@use 'helper' as *;
@use 'tools' as *;

.footer {
	@extend %module-top-medium;

	article {
		display: flex;
		flex-direction: column;
		column-gap: $spacer;

		@include up(lg) {
			flex-direction: row;
		}
	}

	&__menu {
		border-bottom: 1px solid color('gray', 'light');
		@extend %module-vertical-small;

		&.footer__first {
			border-top: 1px solid color('gray', 'light');
		}

		nav ul {
			display: flex;
			flex-wrap: wrap;
			row-gap: 5px;

			li {
				font-weight: 500;
				margin-right: 20px;

				a {
					@include down(lg) {
						text-decoration: underline;
					}
				}
			}
		}

		&--half {
			width: 100%;

			@include up(lg) {
				width: 50%;
			}
		}
	}

	&__title {
		@extend %h4;
		font-weight: 500;

		display: flex;
		align-items: center;
		padding-bottom: 15px;

		&::before {
			display: inline-block;
			content: '';
			height: 7px;
			width: 7px;
			background-image: url('../assets/icons/icon-rombo.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			margin-right: 7px;
		}
	}
}
