// --------------------------------------------------
//		Layout: Footer
// --------------------------------------------------

@use "settings" as *;
@use "helper" as *;
@use "tools" as *;

.footer {

  article {
    display: flex;
    column-gap: $spacer;
  }

  &__menu {
    border-bottom: 1px solid color('gray', 'light');
    @extend %module-vertical-small;

    nav ul {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;

      li {
        font-weight: 500;
        margin-right: 20px;
      }
    }

    &--half {
        width: 50%
    }
  }

  &__title {
    @extend %h4;
    font-weight: 500;

    display: flex;
    align-items: center;
    padding-bottom: 15px;

    &::before {
      display: inline-block;
      content: "";
      height: 6px;
      width: 6px;
      background-image: url("../assets/icons/icon-rombo.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      margin-right: 20px;
    }
  }
}

