// --------------------------------------------------
//		Layout
// --------------------------------------------------


@use 'helper' as *;
@use 'tools' as *;


.header {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
    height: min(12vh, 125px);


    &__brand {
        width: 50%;
    }
    
    &__menu {
        width: 50%;

        display: flex;
        justify-content: flex-end;

        @include up(lg) {
            display: block;
        }
    }
}