// --------------------------------------------------
//		Layout
// --------------------------------------------------


@use 'helper' as *;
@use 'tools' as *;


.header {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    padding-top: 30px;

    &__brand {
        width: 50%;
    }
    
    &__menu {
        width: 50%;
    }
}