// --------------------------------------------------
//		Components: Header: Brand
// --------------------------------------------------


@use 'tools' as *;


.header-brand {

    max-width: 18rem;

    @include up(md) {
        max-width: 20rem;
    }

    @include up(lg) {
        max-width: 30rem;
    }

    img, svg {
        width: 100%;
    }

}