// --------------------------------------------------
//		Components: Header: Brand
// --------------------------------------------------

@use 'helper' as *;
@use 'settings' as *;
@use 'tools' as *;

.header__brand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  figure {
    margin: 0;
    @include up(lg) {
      max-width: 60px;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .header__breadcrumbs ul {
    display: flex;
    align-items: center;

    li {
      @extend %h5;
      font-weight: 500;
    }

    img {
      height: 10px;
      margin: 0 2rem;
    }
  }
}
