// --------------------------------------------------
//		Components: Header: Burger
// --------------------------------------------------


@use 'settings' as *;
@use 'tools' as *;


.header__burger {
	cursor: pointer;

	width: 30px;
	height: 30px;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;

	@include up(lg) {
		display: none;
	}

	span {
		display: inline-block;
		width: 100%;
		height: 2px;
		background-color: color('black');

		margin-bottom: 5px;

		&:first-child {
			width: 60%;
		}
	}
}

// shrink
// .shrink .header-burguer {
// 	opacity: 1;
// 	display: flex;
// 	span {
// 		background: color('black');
// 	}
// }

// Menu open ========================================

.menu-open .header-burger {
	span {
		width: 100%;
		&:first-child {
			transform: translate(0, 0) rotate(-45deg);
			top: 50%;
		}
		&:last-child {
			transform: translate(0, 2px) rotate(45deg);
			bottom: 50%;
		}
	}
}