// --------------------------------------------------
//		Components: Page Header
// --------------------------------------------------

@use "helper" as *;
@use "tools" as *;

.pageHeader {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @extend %module-top-medium;
  @extend %module-bottom-small;
  
  border-bottom: 1px solid color("gray", "light");

  @include up(md) {
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
	}

  section {
    width: 50%;
  }

  h1,
  p {
    font-weight: 500;
  }

  h1 {
    line-height: 1em;
    text-transform: uppercase
  }

  p {
    @extend %h4;
    max-width: 70%;
  }
}
