// --------------------------------------------------
//		Modules: Banner: Content
// --------------------------------------------------

@use 'tools' as *;

.module-banner {

    // content
    .module-content {

        text-align: center;

        max-width: 70%;

        @include up(md) {
            max-width: 80%;
        }

        @include up(lg) {
            max-width: 50rem;
        }

        @include up(xl) {
            max-width: 65rem;
        }

    }

    // content > text
    .module-text {
        margin-top: 4rem;
        @include up(md) {
            margin-top: 5rem;
        }
        @include up(lg) {
            margin-top: 7rem;
        }
    }

    // content > text
    .module-buttons  {

        margin-top: 9rem;
        @include up(md) {
            margin-top: 12rem;
        }
        @include up(lg) {
            margin-top: 7rem;
        }

        img {
            margin-bottom: 2rem;
        }

        .btn-link {
            font-size: 1.5rem;
            text-transform: uppercase;
            span {
                @include down(lg) {
                    display: none;
                }
            }
        }

    }

}

.rotating-text {

    opacity: 0;
    transition: all .3s;

    p {
        @extend .fs-2;
        height: 1em;
        font-weight: 600;
        line-height: 1.2;
        color: color('secondary');
        margin: 0;
    }

    .word {
        position: absolute;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .letter {
        /*This will let you apply transforms to the span char elements.*/
        display: inline-block;
    }

    &.isActive {
        opacity: 1;
    }

}