// --------------------------------------------------
//		Modules: Banner: Content
// --------------------------------------------------


@use 'tools' as *;


.module-banner {

    // content
    .module-content {

        position: absolute;
        z-index: 100;
        top: 15rem;
        left: 50%;
        transform: translate( -50%, 0 );
        width: 100%;
        max-width: 90%;
        @include up(md) {
            top: 20rem;
        }
        @include up(lg) {
            top: 15rem;
        }
        @include up(xl) {
            top: 20rem;
        }
        @include up(xxl) {
            top: 25rem;
        }
    }

    // title
    .module-title {
        p, div {
            color: color('black');
            margin: 0;
            @extend .fs-2;
            strong {
                color: color('secondary');
                font-weight: 600;
            }
        }        
    }
    
}