// --------------------------------------------------
//		Modules: Banner: Background
// --------------------------------------------------


@use 'tools' as *;


.module-banner {

    overflow: hidden;
    height: 100vh;

    // background [general]

    .banner-bg {

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        overflow: hidden;

        // items [scrolltrigger animation]

        .banner-bg-item {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        // media
        img, video, .swiper {
            @include image-cover;
            height: 100vh;
        }

        // images [init animation]
        img {
            transform: translateY(100%);
            opacity: 0;
            object-fit: cover;
        }

    }

}