// --------------------------------------------------
//		Components: Tabs
// --------------------------------------------------

@use "helper" as *;
@use "tools" as *;

.tabs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  align-items: center;

  @extend %module-vertical-medium;

  @include up(md) {
    row-gap: 30px;
    column-gap: 20px;
	}

  li a.tab {
    padding: 8px 16px;
    border: 1px solid color("black");
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease;

    &.active,
    &:hover {
      color: white;
      background-color: color("black");
      transition: all 0.3s ease;
    }
  }
}
