// --------------------------------------------------
//		Modules: Grid
// --------------------------------------------------

@use 'settings' as *;
@use 'helper' as *;
@use 'tools' as *;

.about {
	header {
		@extend %module-bottom-small;
		border-bottom: 1px solid color('gray', 'light');
		p {
			@extend %h4;
			font-weight: 500;

			&::before {
				display: inline-block;
				content: '';
				height: 16px;
				width: 16px;
				background-image: url('../assets/icons/icon-rombo-blue.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;

				margin-right: 20px;
			}
		}
	}

	section {
		@extend %module-top-small;

		display: flex;
		flex-direction: column;
		column-gap: $spacer;

		@include up(lg) {
			flex-direction: row;
		}

		.about__content {
			width: 100%;

			@include up(lg) {
				width: 40%;
			}

			p {
				max-width: 100%;

				@include up(lg) {
					max-width: 75%;
				}
			}

			.about__link {
				@extend %module-top-small;

				display: flex;
				align-items: center;

				span {
					font-weight: 600;
				}

				&::after {
					display: inline-block;
					content: '';
					height: 16px;
					width: 16px;
					background-image: url('../assets/icons/icon-arrow-right.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;

					margin-left: 20px;
				}
			}
		}

		a {
			width: 100%;
			cursor: pointer;

			@include up(lg) {
				width: 60%;
			}

			img {
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
