// --------------------------------------------------
//		Tools: font base [placeholder]
// --------------------------------------------------


@use 'settings' as *;
@use 'breakpoints' as *;


%font-base {
	font-family: $font-family-base;
	font-weight: $font-weight-base;

	font-size: clamp(0.813rem, 0.731rem + 0.333vw, 0.938rem);

	@include up(lg) {
		font-size: 16px;
	}

}