// --------------------------------------------------
//		Components: Sidenav: Sidenav
// --------------------------------------------------


@use 'tools' as *;
@use 'helper' as *;
@use 'elements' as *;


.sidenav {

	// sidenav bg [blur] ========================================

	&-bg {

		content: '';
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 300;
		background: rgba($color: #000000, $alpha: 0.3);
		backdrop-filter: blur(5px);

	}

	// sidenav content ========================================

	&-content {

		position: fixed;
		z-index: 400;
		top: 0;
		left: 0;

		// display: flex;
		// flex-direction: column;
		// justify-content: space-between;
		// align-items: flex-end;

		width: 95%;
		height: 100vh;

		padding: 3rem 1rem;
		border-radius: 0 2rem 2rem 0;

		background-color: color('white');
		background-image: url(../../src/assets/backgrounds/bg-sidenav.svg);
		background-position: left center;
		background-repeat: no-repeat;

		transform: translateX(-100%);
		transition: all .3s;

		@include up(md) {
			padding: 3rem 5rem;
		}

		@include up(lg) {
			width: 50%;
		}

		@include up(xxxl) {
			padding: 3rem 4rem;
		}

	}

	// main navigation ========================================

	.main-navigation {

		position: absolute;
		left: 2rem;
		top: 50%;
		transform: translateY(-50%);

		ul {
			display: flex;
			flex-direction: column;
			grid-row-gap: 2rem;
			text-align: left;
		}

		a {
			font-size: 2.2rem;
		}

		li:last-child {
			@extend .btn;
			@extend .btn-primary;
		}

	}

}


// menu open ========================================


.menu-open {
	.sidenav-bg {
		display: block;
	}
	.sidenav-content {
		transform: translateX(0);
	}
}